spring:
  application:
    name: dscommerce
  profiles:
    active: test
  jpa:
    open-in-view: true

security:
  client-id: ${CLIENT_ID:myclientid}
  client-secret: ${CLIENT_SECRET:myclientsecret}

  jwt:
    duration: ${JWT_DURATION:86400}

  cors:
    origins: ${CORS_ORIGINS:http://localhost:3000,http://localhost:5173}